@import "../base/media-queries.scss";
@import "../base/mapas";

  // SECCIÓN PROFESIONALES
  #profesionalesContactoC {
    h2 {
      margin: 0;
      padding: 30px 0;
    }

    .container {
      text-align: center;
      padding: 0px 12px;

      .card {
        margin-bottom: 20px;
        padding: 30px 20px 10px 20px;
        border-radius: 10px;
        // background-color: rgb(55, 5, 255);
        text-align: center;
        box-shadow: rgba(30, 0, 255, 0.24) 0px 3px 8px;

        img {
          width: 90px;
          height: 90px;
        }

        div {
          margin: 10px 0;
        }

        hr {
          margin: 0 45px;
        }

        p {
          font-weight: bold;
        }

        h3 {
          margin: 15px 0;
          text-align: center;
          font-size: 1.5em;
          color: rgb(7, 7, 206);
        }

        button {
          margin-top: 20px;
          // background-color: blue;
          color: rgb(0, 0, 0);

          &:hover {
            background-color: blue;
            color: white;
          }
        }
      }

      .img {
        width: 100%;

        img {
          width: 90%;
          width: 70%;
          border-radius: 50%;
          box-shadow: rgba(25, 0, 255, 0.24) 0px 3px 8px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      #cardVigo {
        box-shadow: rgba(30, 0, 255, 0.24) 0px 3px 8px;
        // margin: 0 13px;
        border-radius: 10px;

        div {
          margin: 10px 0;
        }

        p {
          font-weight: bold;
        }

        h3 {
          margin: 15px 0;
          text-align: center;
          font-size: 1.5em;
          color: rgb(7, 7, 206);
        }

        hr {
          margin: 0 45px;
        }

        a {

          &:hover {
            color: blue;
          }
        }
        button {
          margin: 20px 0;
          // background-color: blue;
          color: rgb(0, 0, 0);

          &:hover {
            background-color: blue;
            color: white;
          }
        }


      }
    }
  }

@media screen and (min-width: 700px) {

  // SECTION FORM
  @media screen and (min-width: 700px) {
    #sectionContacto {

      .containerGeneral {
        flex-direction: row;

      }
    }
  }

      // SECTION PROFESIONALES
      #profesionalesContactoC {
        // background-image: linear-gradient(180deg,#2e77f4 0%,rgba(58,167,244,0.87) 100%)!important;
    
        .container {
          width: 100%;
          margin-bottom: 15px;
    

          .especialistas {
            display: flex;
    
            .card {
              display: flex;
              // align-items: center;
              width: 50%;
              margin: 0 15px;
              padding: 0;
              // padding: 30px 20px 10px 20px;

              &:hover {
                transform: scale(1.05)
              }
    
              hr {
                display: none;
              }

              .cuerpoCard {
                width: 100%;

                div {
                  // margin: 10px 0;
    
                  a {
                    &:hover {
                      color: blue;
                    }
                  }
                }
    
                button {
                  margin-top: 10px;
                  background-color: rgb(255, 255, 255);
                  color: rgb(0, 0, 0);
                }
              }

              .img {
                width: 50%;
        
                img {
                  width: 50%;
                  border-radius: 50%;
                  box-shadow: rgba(25, 0, 255, 0.24) 0px 3px 8px;
        
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }

          #cardVigo {
            box-shadow: rgba(30, 0, 255, 0.24) 0px 3px 8px;
            margin: 0 13px;
            border-radius: 10px;

            .card-vigo {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 20px 0;


              .info {
                width: 100%;
                .zonas {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  // align-items: center;
                }
              }

              hr {
                display: none;
              }

              div {
                margin: 10px 0;
                padding: 0 10px;

                p {
                  font-weight: bold;
                  margin-bottom: 20px;
                }

                a {

                  &:hover {
                    color: blue;
                  }
                }
              }

              h3 {
                margin: 15px 0;
                text-align: center;
                font-size: 1.5em;
                color: rgb(7, 7, 206);
              }
      
              button {
                margin-top: 20px;
                // background-color: blue;
                color: rgb(0, 0, 0);
      
                &:hover {
                  background-color: blue;
                  color: white;
                }
              }

              .img {
                width: 30%;

        
                img {
                  width: 85%;
                  height: auto;
                  border-radius: 50%;
                  box-shadow: rgba(25, 0, 255, 0.24) 0px 3px 8px;
        
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
        }
      }
}

#mainContacto {
  // background-color: red;

  #sectionContacto {
    width: 90%;
    // background-color: rgb(30, 0, 255);
    margin: auto;
    border-radius: 20px;
    .containerGeneral {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 40px;

      .datoscin {
        color: white;
        background-image: linear-gradient(180deg, #1b24ce 0%, #1e4083 100%);
        text-align: center;
        margin: auto;
        padding: 60px 0 0 0;
        height: 100%;
        width: 100%;

        img {
          width: 80px;
          height: 80px;
          margin-bottom: 20px;
        }

        .atencionMdq {

          margin:auto;

          div {
            margin: 20px 0;

            a {
              color: white;

              &:hover {
                color: rgb(133, 133, 250);
              }
            }
          }
        }
      }

      .containerForm {
        // margin: auto;
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px 0;

        h4 {
          text-align: center;
          margin-bottom: 10px;
        }

        div {
          width: 90%;
          margin: auto;
          padding: 0 30px;

          input, textarea {
            width: 100%;
            margin-bottom: 20px;
            padding: 10px 0px;
            border: none;
            border-bottom: 2px solid blue;
            
            &::placeholder {
              color: black;
            }

            &:hover {
              background-color: #5058f0;
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 700px) {
  #mainContacto {
  
    #sectionContacto {

      .containerGeneral {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .datoscin {
          padding: 30px 0 0 0;
        }
      }
    }
  }

}