@import "../base/media-queries.scss";
@import "../base/mapas";

#convenios {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;

        .card {

            .card-img-top {
                width: 250px;
                height: 250px;
            }
        }

    }

    // Listado de obras
    .listadoObras {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
          ),
          url(/img/obra.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        width: 100%;
        margin: auto auto;
        padding: 20px 40px;
        color: rgb(255, 255, 255);
        
        h2 {
            margin-bottom: 20px;
        }

        li {
            margin: 10px 0;

        a {
            list-style: circle;
            color: rgb(255, 255, 255);
            font-size: large;

            &:hover {
                color: rgb(78, 78, 251);
            }
        }
    }
    }
}